body{
font-family: Arial;
background: linear-gradient(to right,#4facfe,#00f2fe);
margin:0;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.container{
background:white;
padding:30px;
border-radius:10px;
text-align:center;
width:350px;
box-shadow:0 0 10px rgba(0,0,0,0.2);
}

.search-box{
margin-bottom:20px;
}

.search-box input{
padding:8px;
width:70%;
}

.search-box button{
padding:8px 12px;
cursor:pointer;
}

.weather-card{
margin:20px 0;
}

.icon{
font-size:50px;
animation: rotate 4s linear infinite;
}

.temp{
font-size:30px;
font-weight:bold;
}

.forecast{
display:flex;
justify-content:space-between;
}

.card{
background:#f2f2f2;
padding:10px;
border-radius:8px;
width:60px;
transition:transform 0.3s;
}

.card:hover{
transform:scale(1.1);
background:#e0f7fa;
}

@keyframes rotate{
0%{transform:rotate(0deg);}
100%{transform:rotate(360deg);}
}

@media(max-width:500px){

.container{
width:90%;
}

.forecast{
flex-wrap:wrap;
gap:10px;
justify-content:center;
}

}